<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="background-color: rgba(12,18,120,0.83);" xmlns:th="http://www.thymeleaf.org">
    <div class="container-fluid">
        <a class="navbar-brand fw-bolder" th:href="@{'/'}">Online Pharmacy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link fw-bold" th:href="@{'/'}">All medications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold" th:href="@{'/addMedication'}">Add Medication</a>
                </li>

            </ul>
            <form class="d-flex" th:action="@{'/searchMedication'}">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>


    </div>
</nav>