<nav class="navbar navbar-expand-lg navbar-dark bg-success" style="background-color: rgba(12,18,120,0.83);"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{'/'}">Online Pharmacy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/'}">Home</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" th:href="@{'/medications/'}" >Medications</a>
                </li>

                <li class="nav-item dropdown" sec:authorize="hasAnyRole('ROLE_ADMIN')">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdmin" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span th:text="${'Admin Panel'}"> </span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownAdmin">
                        <li><a class="dropdown-item" th:href="@{'/medications/addMedication'}">Add Medication</a></li>
                        <li><a class="dropdown-item" href="#">Other functions</a></li>

                    </ul>


                </li>


                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span th:text="${currentUser!=null?currentUser.fullName:'User Profile'}"> </span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" th:href="@{'/profile'}">Profile</a></li>
                        <li sec:authorize="hasAnyRole('ROLE_ADMIN')"><a class="dropdown-item" th:href="@{'/medications/addMedication'}">Add Medication</a></li>

                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="JavaScript:void(0)" onclick="document.getElementById('signOutForm').submit();">Sign Out</a></li>
                    </ul>
                    <form th:action="@{'/signout'}" id = "signOutForm" method="post"></form>

                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/signinpage'}" sec:authorize="isAnonymous()">Sign In</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/signup'}" sec:authorize="isAnonymous()">Sign Up</a>
                </li>

            </ul>
            <form class="d-flex" th:action="@{'/searchMedication'}">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>


        </div>
    </div>
</nav>