<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/main.html">
<div layout:fragment="mainContentPage">
    <div class="row mt-3">
        <div class="col-6 mx-auto ">
            <img th:src="@{${medication.image}}"/>
        </div>
        <div class="col-6">
            <h3>Medication Details </h3>
            <form th:action="@{'/medications/buyMedication'}" method="post">
                <input type = "hidden"  name = "id"  th:value="${medication.id}" th:width="120" th:height="120">
                <div class="input-group mb-3 row">
                    <div class="input-group-prepend col-2">
                        <span class="input-group-text bg-white border-0" id="inputGroup-sizing-default-name">Name: </span>
                    </div>
                    <input type="text" class="form-control col-10" aria-label="Default" aria-describedby="inputGroup-sizing-default-name" name = "name" readonly th:value="${medication.name}">
                </div>

                <div class="input-group mb-3 row">
                    <div class="input-group-prepend col-2">
                        <span class="input-group-text bg-white border-0" id="inputGroup-sizing-default-dosage">Dosage: </span>
                    </div>
                    <input type="text" class="form-control col-10" aria-label="Default" aria-describedby="inputGroup-sizing-default-dosage" name = "dosage" readonly th:value="${medication.dosage}">
                </div>


                <div class="input-group mb-3 row">
                    <div class="input-group-prepend col-2">
                        <span class="input-group-text bg-white border-0" id="inputGroup-sizing-default-form">Form: </span>
                    </div>
                    <input type="text" class="form-control col-10" aria-label="Default" aria-describedby="inputGroup-sizing-default-form" name = "form" readonly th:value="${medication.form}">
                </div>
                <div class="input-group mb-3 row">
                    <div class="input-group-prepend col-2">
                        <span class="input-group-text bg-white border-0" id="inputGroup-sizing-default-country">Country: </span>
                    </div>
                    <select name = "country_id" class="form-select col-10" aria-label="Default" aria-describedby="inputGroup-sizing-default-country" th:disabled="disabled" >
                        <option  th:each = "cnt : ${countries}" th:value="${cnt.id}" th:text="${cnt.name}" th:selected="${medication.country != null && cnt.id ==medication.country.id}"></option>
                    </select>
                </div>
                <div class="input-group mb-3 row">
                    <div class="input-group-prepend col-2">
                        <span class="input-group-text bg-white border-0" id="inputGroup-sizing-default-price">Price: </span>
                    </div>
                    <input type="number" class="form-control col-10" aria-label="Default" aria-describedby="inputGroup-sizing-default-dosage" name = "price" readonly th:value="${medication.price}">
                </div>


                <div class="input-group mb-3 row">
                    <div class="input-group-prepend col-2">
                        <span class="input-group-text bg-white border-0" id="inputGroup-sizing-default-availability"> Availability: </span>
                    </div>
                    <input type="text" class="form-control col-10" aria-label="Default" aria-describedby="inputGroup-sizing-default-availability" name = "availability" readonly th:value="${medication.availability}">
                </div>

                <div class="input-group mb-3 row">
                    <div class="input-group-prepend col-2">
                        <span class="input-group-text bg-white border-0" id="inputGroup-sizing-default-quantity">Quantity: </span>
                    </div>
                    <input type="number" class="form-control col-2" aria-label="Default" aria-describedby="inputGroup-sizing-default-quantity" name = "quantity" readonly th:value="${medication.quantity}">
                </div>



                <div class="input-group mb-3 row">
                    <div class="input-group-prepend col-2">
                        <span class="input-group-text bg-white border-0" id="inputGroup-sizing-default-category">Category: </span>
                    </div>
                    <p type = "text" class="form-control col-10" th:each="ct : ${medication.categories}" th:text="${ct.name}" aria-label="Default" aria-describedby="inputGroup-sizing-default-category">

                </div>

                <div class="row mt-3">
                    <div class="col-12">
                        <button class = "btn btn-success">Buy Medication</button>

                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
</html>