<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="layout/main.html">
<div layout:fragment="mainContentPage">
    <div class="row">
        <div class="col-6 mx-auto">
            <h1 class="text-center">WELCOME <span th:text="${currentUser!=null?currentUser.fullName:''}"> </span></h1>
        </div>
    </div>

    <h2 class="">Profile Details</h2>
    <div class="col-6 ">

        <div class="input-group mb-3 row">
            <div class="input-group-prepend col-2">
                <span class="input-group-text bg-white border-0" id="inputGroup-sizing-default-name">Full Name: </span>
            </div>
            <input type="text" class="form-control col-10" aria-label="Default" aria-describedby="inputGroup-sizing-default-name"  readonly th:value="${currentUser.fullName}">
        </div>

        <div class="input-group mb-3 row">
            <div class="input-group-prepend col-2">
                <span class="input-group-text bg-white border-0" id="inputGroup-sizing-default-email">Email: </span>
            </div>
            <input type="text" class="form-control col-10" aria-label="Default" aria-describedby="inputGroup-sizing-default-email"  readonly th:value="${currentUser.email}">
        </div>
    </div>

    <h2 class="">Change the password</h2>
    <form th:action="@{'/updatepassword'}" method="post">
        <div class="row">
            <div class="col-6">
                <label>OLD PASSWORD: </label>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12">
                <input type="password" name="old_password" class="form-control" placeholder="Insert old password" required>
            </div>
        </div>

        <div class="row-3">
            <div class="col-12">
                <label>NEW PASSWORD: </label>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12">
                <input type="password" name="new_password" class="form-control" placeholder="Insert new password" required>
            </div>
        </div>

        <div class="row-3">
            <div class="col-12">
                <label>REPEAT NEW PASSWORD: </label>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12">
                <input type="password" name="new_re_password" class="form-control" placeholder="Repeat new password" required>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12">
                <button class="btn btn-success"> UPDATE PASSWORD</button>

            </div>
        </div>



    </form>
</div>






</html>



