<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
layout:decorate="layout/main.html">
    <div layout:fragment="mainContentPage">
        <div class="col-6 mx-auto">
            <form th:action="@{'/tosignup'}" method="post">
                <h1 class="h3 mb-3 fw-normal text-center">Please sign up</h1>

                <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="user_email">
                    <label for="floatingInput">Email address: </label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="user_password">
                    <label for="floatingPassword">Password: </label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingRePassword" placeholder="Retype Password" name="user_re_password">
                    <label for="floatingRePassword">Repeat Password: </label>
                </div>

                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingFullName" placeholder="Full Name" name="user_full_name">
                    <label for="floatingFullName">Full Name:</label>
                </div>


                <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Sign Up</button>

            </form>




        </div>
    </div>



</html>